:root {
  --ap-color-green-100: #000000;
  --ap-color-green-200: #dff0db;
  --ap-color-green-300: #a5d192;
  --ap-color-green-400: #8dca7e;
  --ap-color-green-500: #5cb335;
  --ap-color-green-600: #498e2b;
  --ap-color-green-700: #3f7b25;
  --ap-color-green-800: #3f702a;
  --ap-color-gray-100: #f7f7f7;
  --ap-color-gray-200: #f1f1f1;
  --ap-color-gray-300: #e4e4e4;
  --ap-color-gray-400: #cccccc;
  --ap-color-gray-500: #b2b2b2;
  --ap-color-gray-600: #878787;
  --ap-color-gray-700: #727272;
  --ap-color-gray-800: #4a4a4a;
  --ap-color-gray-900: #28292c;
  --ap-color-lightness-100: #ffffff;
  --ap-color-lightness-200: #000000;
  --ap-color-blue-100: #0369a3;
  --ap-color-blue-200: #024870;
  --ap-color-blue-300: #032e45;
  --ap-color-blue-400: #3b4648;
  --ap-color-turquoise-100: #f6fdff;
  --ap-color-turquoise-200: #b0deeb;
  --ap-color-turquoise-300: #77b0be;
  --ap-color-turquoise-400: #0696a6;
  --ap-color-turquoise-500: #006176;
  --ap-color-red-100: #fff5f6;
  --ap-color-red-200: #f1b5b7;
  --ap-color-red-300: #f99397;
  --ap-color-red-400: #cb282e;
  --ap-color-red-500: #bf494e;
  --ap-color-red-600: #ac272c;
  --ap-color-orange-100: #fffcf8;
  --ap-color-orange-200: #ffd0a7;
  --ap-color-orange-300: #ce7309;
  --ap-color-orange-400: #b86a0f;
  --ap-color-orange-500: #a55d0a;
  --ap-font-family-primary: roboto;
  --ap-font-weight-400: regular;
  --ap-font-weight-500: medium;
  --ap-font-weight-700: bold;
  --ap-number-0,25x: 1;
  --ap-number-0,5x: 2;
  --ap-number-1x: 4;
  --ap-number-2x: 8;
  --ap-number-3x: 12;
  --ap-number-3,25x: 13;
  --ap-number-3,5x: 14;
  --ap-number-3,75x: 15;
  --ap-number-4x: 16;
  --ap-number-4,25x: 17;
  --ap-number-4,5x: 18;
  --ap-number-4,75x: 19;
  --ap-number-5x: 20;
  --ap-number-5,25x: 21;
  --ap-number-5,5x: 22;
  --ap-number-5,75x: 23;
  --ap-number-6x: 24;
  --ap-number-6,5x: 26;
  --ap-number-6,75x: 27;
  --ap-number-8x: 32;
  --ap-number-10x: 40;
  --ap-number-12x: 48;
  --ap-number-16x: 64;
  --ap-number-20x: 80;
  --ap-number-24x: 96;
  --ap-number-30x: 120;
  --ap-number-60x: 240;
  --ap-number-1,5x: 6;
  --ap-button-primary-container-color-submit-active: {color.green.600};
  --ap-button-primary-container-color-submit-hover: {color.green.700};
  --ap-button-primary-container-color-submit-disabled: {color.green.400};
  --ap-button-primary-container-color-cancel-active: {color.gray.600};
  --ap-button-primary-container-color-cancel-hover: {color.gray.700};
  --ap-button-primary-container-color-cancel-disabled: {color.gray.400};
  --ap-button-primary-container-color-delete-active: {color.red.400};
  --ap-button-primary-container-color-delete-hover: {color.red.600};
  --ap-button-primary-container-color-delete-disabled: {color.red.300};
  --ap-button-primary-container-size-default: {number.8x};
  --ap-button-primary-container-size-sm: {number.6,5x};
  --ap-button-primary-container-size-xs: {size.height.button.primary.xs};
  --ap-button-primary-container-border-radius-default: {number.0,5x};
  --ap-button-primary-container-padding-horizontal-default: {number.5x};
  --ap-button-primary-container-padding-horizontal-sm: {number.3x};
  --ap-button-primary-container-padding-horizontal-xs: {number.0x};
  --ap-button-primary-container-padding-vertical-default: {number.2x};
  --ap-button-primary-container-padding-vertical-sm: {number.2x};
  --ap-button-primary-container-padding-vertical-xs: {number.0x};
  --ap-button-primary-container-gap-default: {number.1,5x};
  --ap-button-primary-container-gap-sm: {number.0,5x};
  --ap-button-primary-container-gap-xs: {number.0,5x};
  --ap-button-primary-text-color-submit-default-active: {color.lightness.100};
  --ap-button-primary-text-color-submit-default-hover: {color.lightness.100};
  --ap-button-primary-text-color-submit-default-disabled: {color.lightness.100};
  --ap-button-primary-text-color-submit-xs-active: {color.green.600};
  --ap-button-primary-text-color-submit-xs-hover: {color.green.700};
  --ap-button-primary-text-color-submit-xs-disabled: {color.green.400};
  --ap-button-primary-text-color-cancel-default-active: {color.lightness.100};
  --ap-button-primary-text-color-cancel-default-hover: {color.lightness.100};
  --ap-button-primary-text-color-cancel-default-disabled: {color.lightness.100};
  --ap-button-primary-text-color-cancel-xs-active: {color.gray.600};
  --ap-button-primary-text-color-cancel-xs-hover: {color.gray.700};
  --ap-button-primary-text-color-cancel-xs-disabled: {color.gray.500};
  --ap-button-primary-text-color-delete-default-active: {color.lightness.100};
  --ap-button-primary-text-color-delete-default-hover: {color.lightness.100};
  --ap-button-primary-text-color-delete-default-disabled: {color.lightness.100};
  --ap-button-primary-text-color-delete-xs-active: {color.red.400};
  --ap-button-primary-text-color-delete-xs-hover: {color.red.600};
  --ap-button-primary-text-color-delete-xs-disabled: {color.red.300};
  --ap-button-primary-text-weight-medium: {font.weight.500};
  --ap-button-primary-text-weight-bold: {font.weight.700};
  --ap-button-primary-text-size-default: {number.3,75x};
  --ap-button-primary-text-size-sm: {number.3,25x};
  --ap-button-primary-text-size-xs: {number.3,25x};
  --ap-button-primary-text-line-height-default: {number.3,25x};
  --ap-button-primary-text-line-height-sm: {number.3,25x};
  --ap-button-primary-text-line-height-xs: {number.3,25x};
  --ap-button-primary-icon-color-submit-default-active: {color.lightness.100};
  --ap-button-primary-icon-color-submit-default-hover: {color.lightness.100};
  --ap-button-primary-icon-color-submit-default-disabled: {color.lightness.100};
  --ap-button-primary-icon-color-submit-xs-active: {color.green.600};
  --ap-button-primary-icon-color-submit-xs-hover: {color.green.700};
  --ap-button-primary-icon-color-submit-xs-disabled: {color.green.400};
  --ap-button-primary-icon-color-delete-xs-active: {color.red.400};
  --ap-button-primary-icon-color-delete-xs-hover: {color.red.600};
  --ap-button-primary-icon-color-delete-xs-disabled: {color.red.300};
  --ap-button-primary-icon-size-default: {number.5x};
  --ap-button-primary-icon-size-xs: {number.3x};
}
